<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link py-3 {{#if create}}active{{/if}}" href="/">Create Order</a>
  <a id="outstanding-link" class="nav-link py-3 d-flex align-items-center {{#if outstanding}}active{{/if}}" href="/outstanding">Outstanding Orders <div id="outstandingBadge" class="badge badge-danger ml-auto"></div></a>
  <a id="completed-link" class="nav-link py-3 {{#if completed}}active{{/if}}" href="/completed">Completed Orders</a>
</div>
